<a href="https://colab.research.google.com/github/trivedi555/MachineLearning/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
# This will take some time to execute. Have some patience.

url = 'https://drive.google.com/file/d/1QcKzIJlO6WRUH4IkrKAvDmBVEipXkeQb/view?usp=sharing'

path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]

data = pd.read_csv(path)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243241 entries, 0 to 1243240
Data columns (total 7 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1227632 non-null  float64
 1   tpep_pickup_datetime   1243241 non-null  object
 2   tpep_dropoff_datetime  1243241 non-null  object
 3   passenger_count        1227632 non-null  float64
 4   PULocationID           1243241 non-null  int64
 5   DOLocationID           1243241 non-null  int64
 6   fare_amount            1243241 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 66.4+ MB

In [ ]:

data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
data.tpep_pickup_datetime = pd.DatetimeIndex(data.tpep_pickup_datetime)

In [ ]:
data.tpep_dropoff_datetime = pd.to_datetime(data.tpep_dropoff_datetime)
data.tpep_dropoff_datetime = pd.DatetimeIndex(data.tpep_dropoff_datetime)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243241 entries, 0 to 1243240
Data columns (total 7 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1227632 non-null  float64
 1   tpep_pickup_datetime   1243241 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1243241 non-null  datetime64[ns]
 3   passenger_count        1227632 non-null  float64
 4   PULocationID           1243241 non-null  int64
 5   DOLocationID           1243241 non-null  int64
 6   fare_amount            1243241 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(2)
memory usage: 66.4 MB

In [ ]:
data['weekday_pickup'] = data.tpep_pickup_datetime.dt.day_name()
data['weekday_dropoff'] = data.tpep_dropoff_datetime.dt.day_name()

In [ ]:
data['day_Pickup'] = data.tpep_pickup_datetime.dt.day
data['day_dropoff'] = data.tpep_dropoff_datetime.dt.day

In [ ]:
data['month_Pickup'] = data.tpep_pickup_datetime.dt.month
data['month_dropoff'] = data.tpep_dropoff_datetime.dt.month

In [ ]:
data.head()

   VendorID tpep_pickup_datetime  ... month_Pickup  month_dropoff
0       1.0  2020-01-01 00:28:15  ...            1              1
1       1.0  2020-01-01 00:35:39  ...            1              1
2       1.0  2020-01-01 00:47:41  ...            1              1
3       1.0  2020-01-01 00:55:23  ...            1              1
4       2.0  2020-01-01 00:01:58  ...            1              1

[5 rows x 13 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243241 entries, 0 to 1243240
Data columns (total 13 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1227632 non-null  float64
 1   tpep_pickup_datetime   1243241 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1243241 non-null  datetime64[ns]
 3   passenger_count        1227632 non-null  float64
 4   PULocationID           1243241 non-null  int64
 5   DOLocationID           1243241 non-null  int64
 6   fare_amount            1243241 non-null  float64
 7   weekday_pickup         1243241 non-null  object
 8   weekday_dropoff        1243241 non-null  object
 9   day_Pickup             1243241 non-null  int64
 10  day_dropoff            1243241 non-null  int64
 11  month_Pickup           1243241 non-null  int64
 12  month_dropoff          1243241 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(6), object(2)
memory usage: 123.3+ MB

In [ ]:
n = data.nunique(axis=0)
print(n)

VendorID                      2
tpep_pickup_datetime     465021
tpep_dropoff_datetime    466414
passenger_count              10
PULocationID                255
DOLocationID                261
fare_amount                3135
weekday_pickup                7
weekday_dropoff               7
day_Pickup                    7
day_dropoff                   9
month_Pickup                  1
month_dropoff                 1
dtype: int64

In [ ]:
from google.colab import files
data.to_csv('data.csv')
files.download('data.csv')

In [ ]:
data['weekday_pickup'].unique()

array(['Wednesday', 'Friday', 'Thursday', 'Saturday', 'Sunday', 'Monday',
       'Tuesday'], dtype=object)

In [ ]:
counts = data['weekday_pickup'].value_counts().to_dict()
print(counts)

{'Tuesday': 201520, 'Friday': 183477, 'Saturday': 182752, 'Monday': 179515, 'Wednesday': 169437, 'Sunday': 164399, 'Thursday': 162141}